<!-- <div >{{outPersons()}}</div> -->

<h1>Persons</h1>
<ul>
    <li *ngFor="let person of persons">Tz:{{person.id}} name:{{person.name}}</li>
</ul>

<form #addForm="ngForm">
    <input type="text" name="idPerson" [(ngModel)]="person.id" placeholder="Id" #id="ngModel" minlength="9" required/>
    {{person.id}}
    <br/>
    <ng-container *ngIf="id.errors">
        <p *ngIf="id.errors.required">השדה הוא שדה חובה</p>
        <p *ngIf="id.errors.minlength">אורך מינימלי 9</p>
    </ng-container>
    <input type="text" name="namePerson" [(ngModel)]="person.name" placeholder="Name" #name="ngModel" minlength="4" required/>
    {{person.name}}
    <br/>
    <ng-container *ngIf="name.errors">
        <p *ngIf="name.errors.required">השדה הוא שדה חובה</p>
        <p *ngIf="name.errors.minlength">אורך מינימלי 4</p>
    </ng-container>
    <button [disabled]="addForm.form.invalid" (click)="addPerson(person)">Add</button>
</form>

