<div class="main">
    <select #choice0 >
        <option *ngFor="let color of chooseColors" value="{{color}}">{{color}}</option>
    </select>
    <select #choice1 >
        <option *ngFor="let color of chooseColors" value="{{color}}">{{color}}</option>
    </select>
    <select #choice2 >
        <option *ngFor="let color of chooseColors" value="{{color}}">{{color}}</option>
    </select>
    <select #choice3 >
        <option *ngFor="let color of chooseColors" value="{{color}}">{{color}}</option>
    </select>
</div>
<button (click)="setCur(choice0.value,choice1.value,choice2.value,choice3.value)">confirm</button>